h1{
    text-align: center;
    color: rgb(14, 13, 13) ;
    font-size: 50px ;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-color:white;

}
.image1 {
    width: 370px;
    height: 380px;
    border-radius: 6px;
    filter:grayscale(100%);
   
}
.image1:hover{
    transform: scale(1.03);
    filter: grayscale(0%);
    transition: 0.3s;

}
.image2:hover{
    transform: scale(1.03);
    transition: 0.3s;
    filter: grayscale(0%);

}

.image2{
    width: 370px;
    height: 380px;
    border-radius: 1 0px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 6px;
    filter:grayscale(100%);
   
}

.boxversion1{
    margin-top: 2%;
    margin-left: 6%;
    padding: 8px;
    margin-right: 6%;
   
}
.boxversion2{
    margin-top: 16px;
    margin-left: 6%;
    padding: 8px;
    margin-right: 6%;
}
